<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jungle.dao.JoinclMapper" >
  <resultMap id="BaseResultMap" type="com.jungle.bean.Joincl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clname" property="clname" jdbcType="VARCHAR" />
    <result column="permitno" property="permitno" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="legalname" property="legalname" jdbcType="VARCHAR" />
    <result column="legalphone" property="legalphone" jdbcType="VARCHAR" />
    <result column="legalidcard" property="legalidcard" jdbcType="VARCHAR" />
    <result column="contactsname" property="contactsname" jdbcType="VARCHAR" />
    <result column="contactsmobile" property="contactsmobile" jdbcType="VARCHAR" />
    <result column="contactsphone" property="contactsphone" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="jointime" property="jointime" jdbcType="VARCHAR" />
    <result column="joinstatus" property="joinstatus" jdbcType="INTEGER" />
    <result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clname, permitno, address, legalname, legalphone, legalidcard, contactsname, 
    contactsmobile, contactsphone, postcode, message, uid, jointime, joinstatus, fileurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jungle.bean.JoinclExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from joincl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from joincl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from joincl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jungle.bean.JoinclExample" >
    delete from joincl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jungle.bean.Joincl" >
    insert into joincl (id, clname, permitno, 
      address, legalname, legalphone, 
      legalidcard, contactsname, contactsmobile, 
      contactsphone, postcode, message, 
      uid, jointime, joinstatus, 
      fileurl)
    values (#{id,jdbcType=INTEGER}, #{clname,jdbcType=VARCHAR}, #{permitno,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{legalname,jdbcType=VARCHAR}, #{legalphone,jdbcType=VARCHAR}, 
      #{legalidcard,jdbcType=VARCHAR}, #{contactsname,jdbcType=VARCHAR}, #{contactsmobile,jdbcType=VARCHAR}, 
      #{contactsphone,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{jointime,jdbcType=VARCHAR}, #{joinstatus,jdbcType=INTEGER}, 
      #{fileurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jungle.bean.Joincl" >
    insert into joincl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clname != null" >
        clname,
      </if>
      <if test="permitno != null" >
        permitno,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="legalname != null" >
        legalname,
      </if>
      <if test="legalphone != null" >
        legalphone,
      </if>
      <if test="legalidcard != null" >
        legalidcard,
      </if>
      <if test="contactsname != null" >
        contactsname,
      </if>
      <if test="contactsmobile != null" >
        contactsmobile,
      </if>
      <if test="contactsphone != null" >
        contactsphone,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="jointime != null" >
        jointime,
      </if>
      <if test="joinstatus != null" >
        joinstatus,
      </if>
      <if test="fileurl != null" >
        fileurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clname != null" >
        #{clname,jdbcType=VARCHAR},
      </if>
      <if test="permitno != null" >
        #{permitno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="legalname != null" >
        #{legalname,jdbcType=VARCHAR},
      </if>
      <if test="legalphone != null" >
        #{legalphone,jdbcType=VARCHAR},
      </if>
      <if test="legalidcard != null" >
        #{legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="contactsname != null" >
        #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="contactsmobile != null" >
        #{contactsmobile,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="jointime != null" >
        #{jointime,jdbcType=VARCHAR},
      </if>
      <if test="joinstatus != null" >
        #{joinstatus,jdbcType=INTEGER},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jungle.bean.JoinclExample" resultType="java.lang.Integer" >
    select count(*) from joincl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update joincl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clname != null" >
        clname = #{record.clname,jdbcType=VARCHAR},
      </if>
      <if test="record.permitno != null" >
        permitno = #{record.permitno,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.legalname != null" >
        legalname = #{record.legalname,jdbcType=VARCHAR},
      </if>
      <if test="record.legalphone != null" >
        legalphone = #{record.legalphone,jdbcType=VARCHAR},
      </if>
      <if test="record.legalidcard != null" >
        legalidcard = #{record.legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="record.contactsname != null" >
        contactsname = #{record.contactsname,jdbcType=VARCHAR},
      </if>
      <if test="record.contactsmobile != null" >
        contactsmobile = #{record.contactsmobile,jdbcType=VARCHAR},
      </if>
      <if test="record.contactsphone != null" >
        contactsphone = #{record.contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null" >
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.jointime != null" >
        jointime = #{record.jointime,jdbcType=VARCHAR},
      </if>
      <if test="record.joinstatus != null" >
        joinstatus = #{record.joinstatus,jdbcType=INTEGER},
      </if>
      <if test="record.fileurl != null" >
        fileurl = #{record.fileurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update joincl
    set id = #{record.id,jdbcType=INTEGER},
      clname = #{record.clname,jdbcType=VARCHAR},
      permitno = #{record.permitno,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      legalname = #{record.legalname,jdbcType=VARCHAR},
      legalphone = #{record.legalphone,jdbcType=VARCHAR},
      legalidcard = #{record.legalidcard,jdbcType=VARCHAR},
      contactsname = #{record.contactsname,jdbcType=VARCHAR},
      contactsmobile = #{record.contactsmobile,jdbcType=VARCHAR},
      contactsphone = #{record.contactsphone,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      jointime = #{record.jointime,jdbcType=VARCHAR},
      joinstatus = #{record.joinstatus,jdbcType=INTEGER},
      fileurl = #{record.fileurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jungle.bean.Joincl" >
    update joincl
    <set >
      <if test="clname != null" >
        clname = #{clname,jdbcType=VARCHAR},
      </if>
      <if test="permitno != null" >
        permitno = #{permitno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="legalname != null" >
        legalname = #{legalname,jdbcType=VARCHAR},
      </if>
      <if test="legalphone != null" >
        legalphone = #{legalphone,jdbcType=VARCHAR},
      </if>
      <if test="legalidcard != null" >
        legalidcard = #{legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="contactsname != null" >
        contactsname = #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="contactsmobile != null" >
        contactsmobile = #{contactsmobile,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        contactsphone = #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="jointime != null" >
        jointime = #{jointime,jdbcType=VARCHAR},
      </if>
      <if test="joinstatus != null" >
        joinstatus = #{joinstatus,jdbcType=INTEGER},
      </if>
      <if test="fileurl != null" >
        fileurl = #{fileurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jungle.bean.Joincl" >
    update joincl
    set clname = #{clname,jdbcType=VARCHAR},
      permitno = #{permitno,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      legalname = #{legalname,jdbcType=VARCHAR},
      legalphone = #{legalphone,jdbcType=VARCHAR},
      legalidcard = #{legalidcard,jdbcType=VARCHAR},
      contactsname = #{contactsname,jdbcType=VARCHAR},
      contactsmobile = #{contactsmobile,jdbcType=VARCHAR},
      contactsphone = #{contactsphone,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      jointime = #{jointime,jdbcType=VARCHAR},
      joinstatus = #{joinstatus,jdbcType=INTEGER},
      fileurl = #{fileurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>